<!DOCTYPE html>
<html lang = "en">
<head>
    <metac charset = "UTF-8">
    <title>FitnessCare</title>
</head>
<body>
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>FitnessCare!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FitnessCare</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://github.com/Akhilesh-ingle">About Akhilesh</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://github.com/Priyansh-jsk">About Priyansh</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to Fitness Camp!</strong> Let's shape your body.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>




      <div class="container">

        <form action='/result' method='post'>{% csrf_token %}
          <div class="form-group">
            <label for="Textarea1" class="form-label">Enter Your Full name</label>
            <textarea class="form-control" name="uname" id="Textarea1" rows="3"></textarea><br>
            <label for="Textarea3" class="form-label">Enter Your Gender</label>
            <textarea class="form-control" name="gender" id="Textarea3" rows="2"></textarea><br>
            <label for="Textarea4" class="form-label">Enter Your e-mail</label>
            <textarea class="form-control" name="email" id="Textarea4" rows="2"></textarea><br>
          </div>
          <br>
          <button type="submit" class="btn btn-dark mt-2">Existing Scuba Diver</button><br>
        </form>
        <form action="/result_beginner" method="post">{% csrf_token %}
          <div class="form-group">
            <button type="submit" class="btn btn-dark mt-2">New to Diving</button><br>
          </div>
        </form>
        <form action="/result_intermidiate" method="post">{% csrf_token %}
          <div class="form-group">
            <button type="submit" class="btn btn-dark mt-2">Intermidiate in Diving</button><br>
          </div>
        </form>
        <form action="/result_advance" method="post">{% csrf_token %}
          <div class="form-group">
            <button type="submit" class="btn btn-dark mt-2">Advance in Diving</button><br>
          </div>
        </form>
      </div>